/* --index y nosotros-- */
.portadaIndex {
    background-image: url(../images/index.webp);
}

.portadaNosotros {
    background-image: url(../images/nosotros.webp);
}

.boton {
    @extend .btn;
    width: 5.5rem;
    padding: 0.2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#contacto {
    padding: 2em 1.5em 0 1.5em;
}

.formulario {
    padding: 0 1.5em 2em 1.5em;
}

.fondo {
    background-color: map-get($paleta, 'cinco');
}

.imagenNosotros {
    display: flex;
    justify-content: center;
    padding: 3rem 2rem 0 2rem;
    img {
        width: 80%;
    }
}

.nosotros, .conocenos {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 4rem;
}

/* --menu-- */
.portadaMenu {
    background-image: url(../images/menu.webp);
}

.textMenu {
    margin-top: 2em;
}

.dulce, .salado, .cafeteria, .bebidas {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.ancho {
    width: 80%;
}

/* --sucursales-- */
.portadaSucursales {
    background-image: url(../images/sucursales.webp);
}

.cardSucursal {
    justify-content: space-around;
    margin: 2rem 0;
}

.card {
    width: 23rem;
    margin: 3rem;
    padding: 0;
}

/* --reserva-- */
.portadaReserva {
    background-image: url(../images/reserva.webp);
}

.reserva {
    padding: 2em 1.5em 0 1.5em;
}

.formReserva {
    padding: 0 1.5em 2em 1.5em;
}