/* --nav-- */
.nav-link {
    color: map-get($paleta, 'dos');
    margin: 0 5px;
    &:hover {
        color: map-get($paleta, 'tres');
    }
}

/* --portada-- */
.portada {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: map-get($paleta, 'dos');
    p span {
        background-color: map-get($paleta, 'uno');
        color: map-get($paleta, 'dos');
        padding: 0 1em;
    }
}