/* --media queries-- */
@media screen and (max-width: 420px) {
    h1 {
        font-size: $size6;
    }

    .oculto {
        visibility: hidden;
    }

    .footer p {
        font-size: $size5;
    }
}

@media screen and (min-width: 576px) {

    /* --index y nosotros html-- */
    .imagenNosotros img {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {

    /* --index y nosotros html-- */
    #contacto {
        text-align: center;
    }

    .imagenNosotros img {
        width: 50%;
    }
   
    /* --reserva html-- */
    .reserva {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {

    /* --index y nosotros html-- */
    .nosotros {
        justify-content: center;
    }

    #contacto {
        text-align: center;
        padding-top: 4em;
    }

    .formulario {
        padding-top: 2em;
    }

    .imagenNosotros {
        padding-bottom: 2em;
        img {
            width: 70%;
        }
    }
    
    /* --menu html-- */
    .ancho {
        width: 85%;
        padding: 0;
    }

    /* --reserva html-- */
     .reserva {
        text-align: start;
        align-items: flex-start;
        padding-top: 4em;
    }

    .formReserva {
        padding-top: 2em;
    }
}