@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a {
    text-decoration: none;
}

label,
::placeholder {
    font-size: $size5;
}

h1 {
    @include texto ($size1, $weight1)
}

h2 {
    @include texto ($size2, $weight2)
}

h3 {
    @include texto ($size3, $weight2)
}

p {
    @include texto ($size4, $weight4)
}

.btn {
    background-color: map-get($paleta, 'tres');
    color: map-get($paleta, 'dos');
    &:hover {
        background-color: map-get($paleta, 'uno');
        color: map-get($paleta, 'dos');
    }
}