//tamaño texto
$size1: 3rem;
$size2: 1.5rem;
$size3: 1.4rem;
$size4: 1.1rem;
$size5: 0.9rem;
$size6: 2rem;

//peso texto
$weight1: 700;
$weight2: 500;
$weight3: 400;
$weight4: 300;

@mixin texto($size, $weigth) {
    font-size: $size;
    font-weight: $weigth;
}

$paleta:(
    'uno': #000000,
    'dos': #ffffff,
    'tres': #ffa600cc,
    'cuatro': #808080,
    'cinco': #ffe4c4,
)