//colores
$color1: rgba(0, 0, 0, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(255, 166, 0, 0.801);
$color4: rgba(128, 128, 128, 1);
$color5: rgba(255, 228, 196, 1);

//tamaño texto
$size1: 3rem;
$size2: 1.5rem;
$size3: 1.4rem;
$size4: 1.1rem;
$size5: 0.9rem;

//peso texto
$weight1: 700;
$weight2: 500;
$weight3: 400;
$weight4: 300;